numpy
pandas
opencv-python
scikit-learn
hdbscan
tqdm
mysql-connector-python
streamlit

# model-specific
insightface
onnxruntime-gpu       # or onnxruntime for CPU-only
dlib
torch
facenet-pytorch
transformers
